<row>
    <div class="col-md-3 hidden-xs hidden-sm">
        <%- partial("_partial/page_sidebar") %>
    </div>

    <div class="col-md-9">
        <article>
            <div class="post-body"><%- page.content %></div>
        </article>
    </div>
</row>