<% if (site.tags && site.tags.length) { %>
    <div class="panel panel-default">
        <div class="panel-heading"><%= __("tags") %></div>
        <div class="panel-body">
            <%- tagcloud() %>
        </div>
    </div>
<% } %>
