<footer>
    <hr>
    <div class="container">
        ©<%= date(Date.now(), "YYYY") %> Made by <a href="/about.html" target="_blank"><%= config.author %></a>,
        Powered by <a href="https://hexo.io/">Hexo</a>
    </div>
</footer>
